.root {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-bottom: 5px;
    background-color: #7e7a7a;
}

.table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid;
}

.table th {
    height: 70px;
}